{% extends "layout.html" %}
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Project Overview</h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Domain</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">AI-Machine Learning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chalkboard fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Dataset Source</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kaggle</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-database fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Algorithm</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">CNN</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Framework</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Flask</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-archway fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Default Card Example -->
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">Problem Statment</h6>
                                </div>
                                <div class="card-body text-justify">
                                    Parkinson's disease is a progressive neurodegenerative disorder that affects motor 
                                    functions and causes tremors, rigidity, and bradykinesia. Early detection and accurate 
                                    diagnosis of Parkinson's disease are crucial for effective management and treatment. 
                                    Traditional diagnostic methods rely on clinical assessments and subjective evaluations,
                                     which can lead to inaccurate diagnoses and delayed interventions. There is a need for 
                                     an objective and non-invasive diagnostic approach that can enhance 
                                    the accuracy of Parkinson's disease detection, particularly in its early stages.
                                </div>
                            </div>

                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Introduction</h6>
                                </div>
                                <div class="card-body text-justify">
                                    Parkinson's disease is a debilitating neurological disorder that affects millions of people 
                                    worldwide. Early detection is essential to provide timely intervention and improve patients'
                                     quality of life. The proposed approach aims to leverage advanced machine learning techniques 
                                     to develop a robust diagnostic tool that can assess the likelihood of Parkinson's disease based 
                                     on two key data sources: spiral image drawings and voice recordings. By analyzing these data
                                      using a CNN algorithm, 
                                    this research seeks to contribute to the early and accurate detection of Parkinson's disease.
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Proposed Solution</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body text-justify">
                                    This research proposes the integration of two distinct data modalities - spiral image 
                                    drawing and voice recording - for the detection of Parkinson's disease. A Convolutional 
                                    Neural Network (CNN) algorithm will be employed to analyze spiral image drawings and voice 
                                    recordings from patients. The spiral image drawings capture motor control impairments, 
                                    while the voice recordings can reveal vocal abnormalities associated with Parkinson's disease. 
                                    The CNN will learn complex patterns and features from these data types to accurately classify 
                                    individuals as either healthy or afflicted with Parkinson's disease.
                                </div>
                            </div>

                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">Conclusion</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseCardExample">
                                    <div class="card-body text-justify">
                                        In conclusion, the integration of spiral image drawing and voice recording analysis through 
                                        a CNN algorithm holds significant promise for improving the detection of Parkinson's disease. 
                                        By objectively assessing motor control impairments and vocal abnormalities, this approach can 
                                        provide a more accurate and timely diagnosis, enabling healthcare professionals to initiate 
                                        appropriate interventions and treatments. The potential of this method to enhance early
                                         detection and positively impact the lives of Parkinson's disease patients makes it a valuable
                                          avenue of research and innovation at the intersection of medical science and machine learning. 
                                          As technology continues to advance, we anticipate further refinement of this approach and its 
                                          integration into clinical practice, 
                                        ultimately improving patient outcomes and quality of life.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>





        {% endblock %}

        </div>





